#banner-message {
  background-color: rgba(255, 20, 20, 0.90);
  border-radius: 8px;
}

#banner-message p {
  color: rgb(255, 255, 255);
  font-size: 15pt;
  font-weight: 900;
  margin-bottom: 0.5em;
  padding-left: 20px;
  padding-top: 0.4em;
}

#md-one {
  display: none;
}

#md-two {
  display: inline;
}

#md-three {
  display: inline;
}

#md-four {
  display: inline;
}

#md-five {
  display: inline;
}

#md-six {
  display: none;
}

#md-seven {
  display: inline;
}

.list {
  margin-left: 15px;
}

@media only screen and (max-width: 1024px) {
  #banner-message {
    max-width: 90%;
  }
}
